.thumb-image {
    border-radius: 8px;
    margin: 5px;
    margin-bottom: 10px;
    width: 270px;
    border: 1px solid var(--color-division);
    transition: ease-in-out 250ms;
}

.thumb-image:hover {
    opacity: .5;
    transition: ease-in-out 250ms;
}