.movie__cast {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: center;
}

.cast__title {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    color: var(--color-spotlight);
}

.cast__info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cast__picture {
    border-radius: 8px;
    margin: 5px;
    margin-bottom: 10px;
    width: 125px;
    border: 1px solid var(--color-division);
}

.cast__name {
    font-weight: 600;
    font-size: .9em;
    margin: 0;
    padding: 0;
}

.cast__character {
    font-weight: 400;
    font-size: .8em;
    margin: 5px 0;
    padding: 0;
    color: var(--color-text-secondary);
}

@media (max-width: 1100px) {
    .movie__cast {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .movie__cast {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}